---
import { LANGUAGES_ARRAY, useTranslations, type Lang } from "../../i18n"
import BaseLayout from "../../layouts/BaseLayout.astro"

export const getStaticPaths = () => {
  return LANGUAGES_ARRAY.map((lang) => ({
    params: { lang },
  }))
}

const { lang } = Astro.params

const t = useTranslations(lang as Lang, "home")
---

<BaseLayout title={t().head_title}>
  <h1>{t().title}</h1>
</BaseLayout>
