---
import I18NHeaders from "@i18n/I18nHeaders.astro"
import { getLanguageFromUrl } from "@i18n/utils"
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"

interface Props {
  title: string
}

const lang = getLanguageFromUrl(Astro.url)
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <title>{Astro.props.title}</title>
    <I18NHeaders />
  </head>
  <body class="bg-[#1c1c1e] text-[#f6e8da]">
    <div class="max-w-screen-sm mx-auto min-h-[98vh] p-4">
      <Nav />
      <slot />
    </div>
    <Footer />
  </body>
</html>
