---
import { getCollection, type CollectionEntry } from "astro:content"
import BaseLayout from "@layouts/BaseLayout.astro"

export async function getStaticPaths() {
  const blog = await getCollection("blog")
  return blog.map((post) => {
    const [lang, slug] = post.slug.split("/")
    return {
      params: { lang, slug },
      props: { post },
    }
  })
}

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props

const { Content } = await post.render()
---

<BaseLayout title={post.data.title}>
  <article
    class="prose prose-headings:text-[#f6e8da] prose-invert max-w-none mb-32"
  >
    <h1 class="text-4xl font-bold text-center mb-6">{post.data.title}</h1>
    <hr class="mb-14 border-[#f6e8da]" />
    <Content />
  </article>
</BaseLayout>
